@import "tailwindcss";

body {
  font-family: NanumRound, NEXONLv1Light, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* white-space: pre-line; */

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  text-align: center;
  margin: 0 auto;
  min-width: 280px;
  display: flex;
  justify-content: center;
  background: linear-gradient(#fcfcfc, #ffdbcf)

  /* background-color: #E0E7D9; */
  /* background-color: white; */
}

@font-face {
  font-family: 'NanumRound';
  src: url('/NanumSquareRoundOTFL.woff2') format('truetype');
}

@font-face {
  font-family: 'NanumRoundB';
  src: url('/NanumSquareRoundB.woff2') format('truetype');
}

@font-face {
  font-family: 'NEXONLv1Light';
  src: url('/NEXON Lv1 Gothic Low OTF Light.woff2') format('truetype');
}

@font-face {
  font-family: 'NEXONLv1Bold';
  src: url('/NEXON Lv1 Gothic Low OTF Bold.woff2') format('truetype');
}

@theme {
  --spacing-1em: 1em;
}

body, #root {
  max-width: 100%;
  touch-action: pan-y;
}
